### Connect to day-ahead electricity data from NordPool and weather data

In [32]:
import pandas as pd
import numpy as np

#### Iport custom functions

In [33]:
import sys
sys.path.append("..")

# Import the module and reload it every time
import importlib
import fun.api_f
importlib.reload(fun.api_f)

from fun.api_f import fetch_nordpool_data, get_weather_forecast

In [34]:
df = fetch_nordpool_data(area="FI")
df.head(5)

                   datetime  electricity_price
0 2025-01-11 00:00:00+01:00              26.79
1 2025-01-11 01:00:00+01:00              22.01
2 2025-01-11 02:00:00+01:00              17.58
3 2025-01-11 03:00:00+01:00              15.74
4 2025-01-11 04:00:00+01:00              20.23

### Get weather data

In [35]:
# Coordinates for Tallinn, Estonia
latitude = 59.437
longitude = 24.7535

df_weather_forecast = get_weather_forecast(latitude, longitude)
df_weather_forecast

,datetime,temperature_2m,wind_speed_10m,direct_radiation,diffuse_radiation
0,2025-01-10 00:00:00+01:00,0.6,17.3,0.0,0.0
1,2025-01-10 01:00:00+01:00,0.4,11.5,0.0,0.0
2,2025-01-10 02:00:00+01:00,-0.0,9.0,0.0,0.0
3,2025-01-10 03:00:00+01:00,-0.5,11.2,0.0,0.0
4,2025-01-10 04:00:00+01:00,-0.0,11.2,0.0,0.0
...,...,...,...,...,...
163,2025-01-16 19:00:00+01:00,3.8,22.7,0.0,0.0
164,2025-01-16 20:00:00+01:00,4.0,24.6,0.0,0.0
165,2025-01-16 21:00:00+01:00,4.1,26.9,0.0,0.0
166,2025-01-16 22:00:00+01:00,4.2,29.2,0.0,0.0
167,2025-01-16 23:00:00+01:00,4.2,31.4,0.0,0.0

#### Merge Nordpool prices, and weather forecast

In [36]:
df_merge = pd.merge(df, df_weather_forecast, on='datetime')
df_merge.head(10)

,datetime,electricity_price,temperature_2m,wind_speed_10m,direct_radiation,diffuse_radiation
0,2025-01-11 00:00:00+01:00,26.79,1.0,24.1,0.0,0.0
1,2025-01-11 01:00:00+01:00,22.01,1.1,23.0,0.0,0.0
2,2025-01-11 02:00:00+01:00,17.58,1.1,24.1,0.0,0.0
3,2025-01-11 03:00:00+01:00,15.74,1.1,24.5,0.0,0.0
4,2025-01-11 04:00:00+01:00,20.23,1.1,24.8,0.0,0.0
5,2025-01-11 05:00:00+01:00,25.27,1.1,24.8,0.0,0.0
6,2025-01-11 06:00:00+01:00,27.47,1.1,26.6,0.0,0.0
7,2025-01-11 07:00:00+01:00,35.44,1.0,26.6,0.0,0.0
8,2025-01-11 08:00:00+01:00,38.83,0.7,29.5,0.0,0.0
9,2025-01-11 09:00:00+01:00,41.11,0.5,29.9,4.9,12.1