In [6]:
from nordpool import elspot
import pandas as pd
import numpy as np
import openmeteo_requests
import requests_cache

In [7]:
def fetch_nordpool_data(area: str = "EE"):
    """Fetch Nord Pool electricity prices for a specific area."""
    # Create an instance of the elspot API
    prices_spot = elspot.Prices()
    
    # Fetch hourly prices for today
    data = prices_spot.hourly(areas=[area])

    # Extract data for the specific area
    area_data = data["areas"].get(area, {})
    print(f"Prices for {area}: {area_data}")
    return area_data

if __name__ == "__main__":
    estonia_prices = fetch_nordpool_data("EE")

Prices for EE: {'values': [{'start': datetime.datetime(2025, 1, 9, 23, 0, tzinfo=tzutc()), 'end': datetime.datetime(2025, 1, 10, 0, 0, tzinfo=tzutc()), 'value': 79.76}, {'start': datetime.datetime(2025, 1, 10, 0, 0, tzinfo=tzutc()), 'end': datetime.datetime(2025, 1, 10, 1, 0, tzinfo=tzutc()), 'value': 79.74}, {'start': datetime.datetime(2025, 1, 10, 1, 0, tzinfo=tzutc()), 'end': datetime.datetime(2025, 1, 10, 2, 0, tzinfo=tzutc()), 'value': 54.95}, {'start': datetime.datetime(2025, 1, 10, 2, 0, tzinfo=tzutc()), 'end': datetime.datetime(2025, 1, 10, 3, 0, tzinfo=tzutc()), 'value': 50.94}, {'start': datetime.datetime(2025, 1, 10, 3, 0, tzinfo=tzutc()), 'end': datetime.datetime(2025, 1, 10, 4, 0, tzinfo=tzutc()), 'value': 66.18}, {'start': datetime.datetime(2025, 1, 10, 4, 0, tzinfo=tzutc()), 'end': datetime.datetime(2025, 1, 10, 5, 0, tzinfo=tzutc()), 'value': 75.09}, {'start': datetime.datetime(2025, 1, 10, 5, 0, tzinfo=tzutc()), 'end': datetime.datetime(2025, 1, 10, 6, 0, tzinfo=tzutc()), 'value': 101.21}, {'start': datetime.datetime(2025, 1, 10, 6, 0, tzinfo=tzutc()), 'end': datetime.datetime(2025, 1, 10, 7, 0, tzinfo=tzutc()), 'value': 125.63}, {'start': datetime.datetime(2025, 1, 10, 7, 0, tzinfo=tzutc()), 'end': datetime.datetime(2025, 1, 10, 8, 0, tzinfo=tzutc()), 'value': 141.3}, {'start': datetime.datetime(2025, 1, 10, 8, 0, tzinfo=tzutc()), 'end': datetime.datetime(2025, 1, 10, 9, 0, tzinfo=tzutc()), 'value': 137.3}, {'start': datetime.datetime(2025, 1, 10, 9, 0, tzinfo=tzutc()), 'end': datetime.datetime(2025, 1, 10, 10, 0, tzinfo=tzutc()), 'value': 124.76}, {'start': datetime.datetime(2025, 1, 10, 10, 0, tzinfo=tzutc()), 'end': datetime.datetime(2025, 1, 10, 11, 0, tzinfo=tzutc()), 'value': 115.15}, {'start': datetime.datetime(2025, 1, 10, 11, 0, tzinfo=tzutc()), 'end': datetime.datetime(2025, 1, 10, 12, 0, tzinfo=tzutc()), 'value': 189.33}, {'start': datetime.datetime(2025, 1, 10, 12, 0, tzinfo=tzutc()), 'end': datetime.datetime(2025, 1, 10, 13, 0, tzinfo=tzutc()), 'value': 105.01}, {'start': datetime.datetime(2025, 1, 10, 13, 0, tzinfo=tzutc()), 'end': datetime.datetime(2025, 1, 10, 14, 0, tzinfo=tzutc()), 'value': 110.01}, {'start': datetime.datetime(2025, 1, 10, 14, 0, tzinfo=tzutc()), 'end': datetime.datetime(2025, 1, 10, 15, 0, tzinfo=tzutc()), 'value': 125.66}, {'start': datetime.datetime(2025, 1, 10, 15, 0, tzinfo=tzutc()), 'end': datetime.datetime(2025, 1, 10, 16, 0, tzinfo=tzutc()), 'value': 130.43}, {'start': datetime.datetime(2025, 1, 10, 16, 0, tzinfo=tzutc()), 'end': datetime.datetime(2025, 1, 10, 17, 0, tzinfo=tzutc()), 'value': 138.26}, {'start': datetime.datetime(2025, 1, 10, 17, 0, tzinfo=tzutc()), 'end': datetime.datetime(2025, 1, 10, 18, 0, tzinfo=tzutc()), 'value': 135.95}, {'start': datetime.datetime(2025, 1, 10, 18, 0, tzinfo=tzutc()), 'end': datetime.datetime(2025, 1, 10, 19, 0, tzinfo=tzutc()), 'value': 96.03}, {'start': datetime.datetime(2025, 1, 10, 19, 0, tzinfo=tzutc()), 'end': datetime.datetime(2025, 1, 10, 20, 0, tzinfo=tzutc()), 'value': 55.09}, {'start': datetime.datetime(2025, 1, 10, 20, 0, tzinfo=tzutc()), 'end': datetime.datetime(2025, 1, 10, 21, 0, tzinfo=tzutc()), 'value': 46.82}, {'start': datetime.datetime(2025, 1, 10, 21, 0, tzinfo=tzutc()), 'end': datetime.datetime(2025, 1, 10, 22, 0, tzinfo=tzutc()), 'value': 40.47}, {'start': datetime.datetime(2025, 1, 10, 22, 0, tzinfo=tzutc()), 'end': datetime.datetime(2025, 1, 10, 23, 0, tzinfo=tzutc()), 'value': 33.29}]}

In [8]:
df = pd.DataFrame(estonia_prices["values"])
df

                       start                       end   value
0  2025-01-09 23:00:00+00:00 2025-01-10 00:00:00+00:00   79.76
1  2025-01-10 00:00:00+00:00 2025-01-10 01:00:00+00:00   79.74
2  2025-01-10 01:00:00+00:00 2025-01-10 02:00:00+00:00   54.95
3  2025-01-10 02:00:00+00:00 2025-01-10 03:00:00+00:00   50.94
4  2025-01-10 03:00:00+00:00 2025-01-10 04:00:00+00:00   66.18
5  2025-01-10 04:00:00+00:00 2025-01-10 05:00:00+00:00   75.09
6  2025-01-10 05:00:00+00:00 2025-01-10 06:00:00+00:00  101.21
7  2025-01-10 06:00:00+00:00 2025-01-10 07:00:00+00:00  125.63
8  2025-01-10 07:00:00+00:00 2025-01-10 08:00:00+00:00  141.30
9  2025-01-10 08:00:00+00:00 2025-01-10 09:00:00+00:00  137.30
10 2025-01-10 09:00:00+00:00 2025-01-10 10:00:00+00:00  124.76
11 2025-01-10 10:00:00+00:00 2025-01-10 11:00:00+00:00  115.15
12 2025-01-10 11:00:00+00:00 2025-01-10 12:00:00+00:00  189.33
13 2025-01-10 12:00:00+00:00 2025-01-10 13:00:00+00:00  105.01
14 2025-01-10 13:00:00+00:00 2025-01-10 14:00:00+00:00  110.01
15 2025-01-10 14:00:00+00:00 2025-01-10 15:00:00+00:00  125.66
16 2025-01-10 15:00:00+00:00 2025-01-10 16:00:00+00:00  130.43
17 2025-01-10 16:00:00+00:00 2025-01-10 17:00:00+00:00  138.26
18 2025-01-10 17:00:00+00:00 2025-01-10 18:00:00+00:00  135.95
19 2025-01-10 18:00:00+00:00 2025-01-10 19:00:00+00:00   96.03
20 2025-01-10 19:00:00+00:00 2025-01-10 20:00:00+00:00   55.09
21 2025-01-10 20:00:00+00:00 2025-01-10 21:00:00+00:00   46.82
22 2025-01-10 21:00:00+00:00 2025-01-10 22:00:00+00:00   40.47
23 2025-01-10 22:00:00+00:00 2025-01-10 23:00:00+00:00   33.29

### Get weather data

In [9]:
from retry_requests import retry

# Setup the Open-Meteo API client with cache and retry on error
cache_session = requests_cache.CachedSession('.cache', expire_after = 3600)
retry_session = retry(cache_session, retries = 5, backoff_factor = 0.2)
openmeteo = openmeteo_requests.Client(session = retry_session)

In [12]:
import requests
import pandas as pd

# Coordinates for Tallinn, Estonia
latitude = 59.437
longitude = 24.7535

url = "https://api.open-meteo.com/v1/forecast"
params = {
	"latitude": 59.4165,
	"longitude": 24.7994,
	"hourly": ["temperature_2m", "wind_speed_10m", "direct_radiation", "diffuse_radiation"],
	"forecast_days": 1
}
responses = openmeteo.weather_api(url, params=params)

# Process first location. Add a for-loop for multiple locations or weather models
response = responses[0]
print(f"Coordinates {response.Latitude()}째N {response.Longitude()}째E")
print(f"Elevation {response.Elevation()} m asl")
print(f"Timezone {response.Timezone()} {response.TimezoneAbbreviation()}")
print(f"Timezone difference to GMT+0 {response.UtcOffsetSeconds()} s")

# Process hourly data. The order of variables needs to be the same as requested.
hourly = response.Hourly()
hourly_temperature_2m = hourly.Variables(0).ValuesAsNumpy()
hourly_wind_speed_10m = hourly.Variables(1).ValuesAsNumpy()
hourly_direct_radiation = hourly.Variables(2).ValuesAsNumpy()
hourly_diffuse_radiation = hourly.Variables(3).ValuesAsNumpy()

hourly_data = {"date": pd.date_range(
	start = pd.to_datetime(hourly.Time(), unit = "s", utc = True),
	end = pd.to_datetime(hourly.TimeEnd(), unit = "s", utc = True),
	freq = pd.Timedelta(seconds = hourly.Interval()),
	inclusive = "left"
)}
hourly_data["temperature_2m"] = hourly_temperature_2m
hourly_data["wind_speed_10m"] = hourly_wind_speed_10m
hourly_data["direct_radiation"] = hourly_direct_radiation
hourly_data["diffuse_radiation"] = hourly_diffuse_radiation

hourly_dataframe = pd.DataFrame(data = hourly_data)
hourly_dataframe

Coordinates 59.41769027709961째N 24.804061889648438째E
Elevation 47.0 m asl
Timezone None None
Timezone difference to GMT+0 0 s

,date,temperature_2m,wind_speed_10m,direct_radiation,diffuse_radiation
0,2025-01-09 00:00:00+00:00,0.75,25.919998,0.000000,0.000000
1,2025-01-09 01:00:00+00:00,0.60,26.280001,0.000000,0.000000
2,2025-01-09 02:00:00+00:00,0.80,28.080000,0.000000,0.000000
3,2025-01-09 03:00:00+00:00,0.85,25.919998,0.000000,0.000000
4,2025-01-09 04:00:00+00:00,1.05,22.680000,0.000000,0.000000
5,2025-01-09 05:00:00+00:00,1.25,18.719999,0.000000,0.000000
6,2025-01-09 06:00:00+00:00,1.50,19.080000,0.000000,0.000000
7,2025-01-09 07:00:00+00:00,1.45,14.400000,0.000000,0.000000
8,2025-01-09 08:00:00+00:00,1.55,18.719999,-0.143214,2.143214
9,2025-01-09 09:00:00+00:00,1.80,16.559999,1.476683,25.523317
10,2025-01-09 10:00:00+00:00,1.45,17.639999,3.039749,37.960251
11,2025-01-09 11:00:00+00:00,1.20,15.480000,0.484858,28.515142
12,2025-01-09 12:00:00+00:00,1.50,15.840000,0.412590,26.587410
13,2025-01-09 13:00:00+00:00,1.55,15.840000,0.947197,23.052803
14,2025-01-09 14:00:00+00:00,1.20,16.199999,-0.165203,3.165203
15,2025-01-09 15:00:00+00:00,1.20,18.719999,0.000000,0.000000
16,2025-01-09 16:00:00+00:00,1.25,16.199999,0.000000,0.000000
17,2025-01-09 17:00:00+00:00,1.15,18.359999,0.000000,0.000000
18,2025-01-09 18:00:00+00:00,0.95,19.799999,0.000000,0.000000
19,2025-01-09 19:00:00+00:00,0.55,18.719999,0.000000,0.000000
20,2025-01-09 20:00:00+00:00,-0.10,15.840000,0.000000,0.000000
21,2025-01-09 21:00:00+00:00,-0.70,16.199999,0.000000,0.000000
22,2025-01-09 22:00:00+00:00,-0.40,18.719999,0.000000,0.000000
23,2025-01-09 23:00:00+00:00,-0.20,16.919998,0.000000,0.000000