In [2]:
from nordpool import elspot
import pandas as pd
import numpy as np

In [4]:
def fetch_nordpool_data(area: str = "EE"):
    """Fetch Nord Pool electricity prices for a specific area."""
    # Create an instance of the elspot API
    prices_spot = elspot.Prices()
    
    # Fetch hourly prices for today
    data = prices_spot.hourly(areas=[area])

    # Extract data for the specific area
    area_data = data["areas"].get(area, {})
    print(f"Prices for {area}: {area_data}")
    return area_data

if __name__ == "__main__":
    estonia_prices = fetch_nordpool_data("EE")

Prices for EE: {'values': [{'start': datetime.datetime(2025, 1, 9, 23, 0, tzinfo=tzutc()), 'end': datetime.datetime(2025, 1, 10, 0, 0, tzinfo=tzutc()), 'value': 79.76}, {'start': datetime.datetime(2025, 1, 10, 0, 0, tzinfo=tzutc()), 'end': datetime.datetime(2025, 1, 10, 1, 0, tzinfo=tzutc()), 'value': 79.74}, {'start': datetime.datetime(2025, 1, 10, 1, 0, tzinfo=tzutc()), 'end': datetime.datetime(2025, 1, 10, 2, 0, tzinfo=tzutc()), 'value': 54.95}, {'start': datetime.datetime(2025, 1, 10, 2, 0, tzinfo=tzutc()), 'end': datetime.datetime(2025, 1, 10, 3, 0, tzinfo=tzutc()), 'value': 50.94}, {'start': datetime.datetime(2025, 1, 10, 3, 0, tzinfo=tzutc()), 'end': datetime.datetime(2025, 1, 10, 4, 0, tzinfo=tzutc()), 'value': 66.18}, {'start': datetime.datetime(2025, 1, 10, 4, 0, tzinfo=tzutc()), 'end': datetime.datetime(2025, 1, 10, 5, 0, tzinfo=tzutc()), 'value': 75.09}, {'start': datetime.datetime(2025, 1, 10, 5, 0, tzinfo=tzutc()), 'end': datetime.datetime(2025, 1, 10, 6, 0, tzinfo=tzutc()), 'value': 101.21}, {'start': datetime.datetime(2025, 1, 10, 6, 0, tzinfo=tzutc()), 'end': datetime.datetime(2025, 1, 10, 7, 0, tzinfo=tzutc()), 'value': 125.63}, {'start': datetime.datetime(2025, 1, 10, 7, 0, tzinfo=tzutc()), 'end': datetime.datetime(2025, 1, 10, 8, 0, tzinfo=tzutc()), 'value': 141.3}, {'start': datetime.datetime(2025, 1, 10, 8, 0, tzinfo=tzutc()), 'end': datetime.datetime(2025, 1, 10, 9, 0, tzinfo=tzutc()), 'value': 137.3}, {'start': datetime.datetime(2025, 1, 10, 9, 0, tzinfo=tzutc()), 'end': datetime.datetime(2025, 1, 10, 10, 0, tzinfo=tzutc()), 'value': 124.76}, {'start': datetime.datetime(2025, 1, 10, 10, 0, tzinfo=tzutc()), 'end': datetime.datetime(2025, 1, 10, 11, 0, tzinfo=tzutc()), 'value': 115.15}, {'start': datetime.datetime(2025, 1, 10, 11, 0, tzinfo=tzutc()), 'end': datetime.datetime(2025, 1, 10, 12, 0, tzinfo=tzutc()), 'value': 189.33}, {'start': datetime.datetime(2025, 1, 10, 12, 0, tzinfo=tzutc()), 'end': datetime.datetime(2025, 1, 10, 13, 0, tzinfo=tzutc()), 'value': 105.01}, {'start': datetime.datetime(2025, 1, 10, 13, 0, tzinfo=tzutc()), 'end': datetime.datetime(2025, 1, 10, 14, 0, tzinfo=tzutc()), 'value': 110.01}, {'start': datetime.datetime(2025, 1, 10, 14, 0, tzinfo=tzutc()), 'end': datetime.datetime(2025, 1, 10, 15, 0, tzinfo=tzutc()), 'value': 125.66}, {'start': datetime.datetime(2025, 1, 10, 15, 0, tzinfo=tzutc()), 'end': datetime.datetime(2025, 1, 10, 16, 0, tzinfo=tzutc()), 'value': 130.43}, {'start': datetime.datetime(2025, 1, 10, 16, 0, tzinfo=tzutc()), 'end': datetime.datetime(2025, 1, 10, 17, 0, tzinfo=tzutc()), 'value': 138.26}, {'start': datetime.datetime(2025, 1, 10, 17, 0, tzinfo=tzutc()), 'end': datetime.datetime(2025, 1, 10, 18, 0, tzinfo=tzutc()), 'value': 135.95}, {'start': datetime.datetime(2025, 1, 10, 18, 0, tzinfo=tzutc()), 'end': datetime.datetime(2025, 1, 10, 19, 0, tzinfo=tzutc()), 'value': 96.03}, {'start': datetime.datetime(2025, 1, 10, 19, 0, tzinfo=tzutc()), 'end': datetime.datetime(2025, 1, 10, 20, 0, tzinfo=tzutc()), 'value': 55.09}, {'start': datetime.datetime(2025, 1, 10, 20, 0, tzinfo=tzutc()), 'end': datetime.datetime(2025, 1, 10, 21, 0, tzinfo=tzutc()), 'value': 46.82}, {'start': datetime.datetime(2025, 1, 10, 21, 0, tzinfo=tzutc()), 'end': datetime.datetime(2025, 1, 10, 22, 0, tzinfo=tzutc()), 'value': 40.47}, {'start': datetime.datetime(2025, 1, 10, 22, 0, tzinfo=tzutc()), 'end': datetime.datetime(2025, 1, 10, 23, 0, tzinfo=tzutc()), 'value': 33.29}]}

In [5]:
df_estonia = pd.DataFrame(estonia_prices["values"])
df_estonia

                       start                       end   value
0  2025-01-09 23:00:00+00:00 2025-01-10 00:00:00+00:00   79.76
1  2025-01-10 00:00:00+00:00 2025-01-10 01:00:00+00:00   79.74
2  2025-01-10 01:00:00+00:00 2025-01-10 02:00:00+00:00   54.95
3  2025-01-10 02:00:00+00:00 2025-01-10 03:00:00+00:00   50.94
4  2025-01-10 03:00:00+00:00 2025-01-10 04:00:00+00:00   66.18
5  2025-01-10 04:00:00+00:00 2025-01-10 05:00:00+00:00   75.09
6  2025-01-10 05:00:00+00:00 2025-01-10 06:00:00+00:00  101.21
7  2025-01-10 06:00:00+00:00 2025-01-10 07:00:00+00:00  125.63
8  2025-01-10 07:00:00+00:00 2025-01-10 08:00:00+00:00  141.30
9  2025-01-10 08:00:00+00:00 2025-01-10 09:00:00+00:00  137.30
10 2025-01-10 09:00:00+00:00 2025-01-10 10:00:00+00:00  124.76
11 2025-01-10 10:00:00+00:00 2025-01-10 11:00:00+00:00  115.15
12 2025-01-10 11:00:00+00:00 2025-01-10 12:00:00+00:00  189.33
13 2025-01-10 12:00:00+00:00 2025-01-10 13:00:00+00:00  105.01
14 2025-01-10 13:00:00+00:00 2025-01-10 14:00:00+00:00  110.01
15 2025-01-10 14:00:00+00:00 2025-01-10 15:00:00+00:00  125.66
16 2025-01-10 15:00:00+00:00 2025-01-10 16:00:00+00:00  130.43
17 2025-01-10 16:00:00+00:00 2025-01-10 17:00:00+00:00  138.26
18 2025-01-10 17:00:00+00:00 2025-01-10 18:00:00+00:00  135.95
19 2025-01-10 18:00:00+00:00 2025-01-10 19:00:00+00:00   96.03
20 2025-01-10 19:00:00+00:00 2025-01-10 20:00:00+00:00   55.09
21 2025-01-10 20:00:00+00:00 2025-01-10 21:00:00+00:00   46.82
22 2025-01-10 21:00:00+00:00 2025-01-10 22:00:00+00:00   40.47
23 2025-01-10 22:00:00+00:00 2025-01-10 23:00:00+00:00   33.29